Package: citronics-initramfs
Version: 1.0.7
Section: base
Priority: optional
Architecture: armhf
Maintainer: info@citronics.eu
Depends: initramfs-tools, busybox-static, kpartx, inetutils-telnetd, unudhcpd, parted
Description: Custom initramfs-tools hooks and scripts for citronics boards
 This package installs custom hooks, modules, and scripts into initramfs-tools.
